# Strapi configuration
JWT_SECRET=
NODE_ENV=development
APP_KEYS=6hW4bRd0jb8l6fFrcBZ/Jg==,fcr5+H46YBDdvJlQrKlwqA==,CBEa0/vMWiWEPRA8bdP/og==,qmc9zCYBWf1gitrniFTwfQ==
TRANSFER_TOKEN_SALT=w+WIUZ+1mwRgbYVz1K663Q==
API_TOKEN_SALT=QduBxLPZoxteW0IZ1rEC3A==
ADMIN_JWT_SECRET=DJeS44s/AsCBA4zwQVg2jw==

# PostgreSQL configuration
POSTGRES_DB=pokeroyun
POSTGRES_USER=turkpokeradmin
POSTGRES_PASSWORD=turkpokeradmin

# @strapi-community/dockerize variables

DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_NAME=pokeroyun
DATABASE_USERNAME=turkpokeradmin
DATABASE_PASSWORD=turkpokeradmin
NODE_ENV=development
DATABASE_CLIENT=postgres
